<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    
    <resultMap type="projectDTO" id="giveListMap">
    	<id property="projectNo" column="projectNo" />
		<result property="id" column="id" />
		<result property="projectSubject" column="projectSubject" />
		<result property="category1" column="category1" />
		<result property="category2" column="category2" />
		<result property="category3" column="category3" />
		<result property="story" column="story" />
		<result property="projectImg" column="projectImg" />
		<result property="projectEnd" column="projectEnd" />
		<result property="projectRegdate" column="projectRegdate" />
		<result property="moneyOrItem" column="moneyOrItem" />
		<result property="totalMoney" column="totalMoney" />
		<result property="goal" column="goal" />
		<result property="percent" column="percent" />
		<result property="givePerson" column="givePerson" />
    </resultMap>
    
    
    <select id="memberGiveList" resultMap="giveListMap" parameterType="string">
    	select * from 
		tb_project p left join tb_give g
		on p.projectNo = g.projectNo
		where g.id= #{_parameter};
    </select>
    
    <select id="memberSelectByIdAndPwd" resultType="memberDTO" parameterType="map">
    	select * from
    	tb_member 
    	where id=#{id}
    </select>
    
    <update id="memberUpdate" parameterType="memberDTO">
    	update tb_member
    	set 
    	pwd = #{pwd},
    	name=#{name},
    	phone =#{phone},
    	email = #{email}
    	where  
    	id = #{id}
    </update>
    
    
</mapper>